#app {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: flex;
}

html{
  &::-webkit-scrollbar {
    width: 4px !important;
    background-color: #ffffff !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #5988FF;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff !important;
  }
}

.content{
  max-width: 73.5vw !important;
  margin-left: 25vw !important;
  @media (max-width: 1400px){
    max-width: 72.8vw !important;
    margin-left: 26.5vw !important;
  }
  @media (max-width: 1000px){
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    max-width: 65vw !important;
    margin-left: 33vw !important;
  }
  @media (max-width: 868px) {
    height: auto !important;
    max-width: 100vw !important;
    margin-left: 0 !important;
    margin-top: 7vw;
  }
}


tbody td{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  line-break: loose;
  -webkit-hyphens: none; -ms-hyphens: none; hyphens: none;
}

//buttons
.buttons {
  input, .button {
    width: 20vw;
    margin-bottom: 2vw;
    @media (max-width: 868px){
      width: auto;
    }
  }
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="submit"]:disabled{
  background: #98b5fc;
  cursor: default;
}

// popup animation
.fade-enter-active, .fade-leave-active {
  transition: opacity .14s !important;
}
.fade-enter, .fade-leave-to {
  opacity: 0 !important;
}

.absolute-center{
  font-weight: bold;
  font-size: 1.5vw;
  margin: auto;
  position: absolute;
  top: 50%; left: 65%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  @media (max-width: 868px){
    font-size: 2.5vw;
    top: 50%; left: 50%;
    z-index: -1;
  }
}