<template>
  <div class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      v-if="item"
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <!--      title-->
      <p class="title text-center font-bold text-gray text-3xl">
        Редактировать этап id - {{ item.id }}
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="$router.push('/fragments')"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col items-center w-full">
            <TextInput
              label-text="Заголовок"
              :text-value="item.title"
              @changeText="item.title = $event"
            />
            <ckeditorInput
              class="mt-4"
              label-text="Текст"
              :text-value="item.content"
              @ckeditorTextChanged="item.content = $event"
            />
          </div>
        </div>
        <div class="buttons w-full flex">
          <input
            type="submit"
            name="password"
            class="shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Сохранить"
            @click="sendItem"
          />
          <input
            type="submit"
            name="password"
            class="shadow-md text-gray border-2 rounded-none py-3 w-1/6 mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            value="Отменить"
          />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import ckeditorInput from "@/components/ckeditor-input";
import TextInput from "@/components/text-input";

export default {
  components: { ckeditorInput, TextInput },
  data() {
    return {
      MainServices: new MainServices(),
      title: "",
      content: "",
    };
  },
  computed: {
    item() {
      return this.MainServices.getItem("api/fragments", this.$route.params.id);
    },
  },
  created() {
    this.$store.commit("setItem", null);
  },
  methods: {
    sendItem() {
      this.MainServices.update(
        {
          title: this.item.title,
          content: this.item.content,
        },
        this.$route.params.id,
        "api/fragments",
        false
      );
    },
  },
};
</script>
>
