<template>
  <div v-if="item" class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      v-if="item"
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <!--      title-->
      <p class="title text-center font-bold text-gray text-3xl">
        Элеметы меню id - {{ item.id }}
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="$router.push('/menus')"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col items-center w-full">
            <TextInput
              label-text="Заголовок"
              :text-value="item.title"
              @changeText="item.title = $event"
            />
            <TextInput
              label-text="Ссылка"
              :text-value="item.link"
              @changeText="item.link = $event"
            />
            <NumberInput
              label-text="sort"
              :num-value="item.sort.toString()"
              @changeText="item.sort = $event"
            />
          </div>
        </div>
        <div class="buttons w-full flex">
          <input
            type="submit"
            name="password"
            class="shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Сохранить"
            @click="sendItem"
          />
          <div
            class="button shadow-md text-gray border-2 rounded-none py-3 w-1/6 text-center mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            @click="$router.push('/menus')"
          >
            Отменить
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import NumberInput from "@/components/number-input";
import TextInput from "@/components/text-input";

export default {
  components: { TextInput, NumberInput },
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    item() {
      return this.MainServices.getItem("api/menus", this.$route.params.id);
    },
  },
  created() {
    this.$store.commit("setItem", null);
  },
  methods: {
    sendItem() {
      this.MainServices.update(
        {
          title: this.item.title,
          link: this.item.link,
          sort: this.item.sort,
        },
        this.$route.params.id,
        "api/menus",
        false
      );
    },
  },
};
</script>
