<template>
  <div class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      v-if="item"
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <!--      title-->
      <p class="title text-center font-bold text-gray text-3xl">
        Информационные ресурсы id - {{ item.id }}
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="$router.push('/informational-resources')"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col items-center w-full">
            <TextInput
              label-text="Заголовок"
              :text-value="item.title"
              @changeText="item.title = $event"
            />
            <TextInput
              label-text="Ссылка"
              :text-value="item.link"
              @changeText="item.link = $event"
            />
            <fileInput
              label-text="Иконка"
              :set-file-url="item.image"
              @onFileChange="image = $event"
            />
          </div>
        </div>
        <div class="buttons w-full flex">
          <input
            type="submit"
            name="password"
            class="button shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Сохранить"
            @click="sendItem"
          />
          <div
            class="button shadow-md text-gray border-2 rounded-none py-3 w-1/6 text-center mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            @click="$router.push('/informational-resources')"
          >
            Отменить
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import fileInput from "@/components/file-input";
import TextInput from "@/components/text-input";

export default {
  components: { fileInput, TextInput },
  data() {
    return {
      MainServices: new MainServices(),
      image: null,
    };
  },
  computed: {
    item() {
      return this.MainServices.getItem("api/resources", this.$route.params.id);
    },
  },
  created() {
    this.$store.commit("setItem", null);
  },
  methods: {
    sendItem() {
      let formData = new FormData();
      formData.append("title", this.item.title);
      if (this.image) formData.append("image", this.image);
      formData.append("link", this.item.link);
      this.MainServices.update(
        formData,
        this.$route.params.id,
        "api/resources",
        true
      );
    },
  },
};
</script>
