<template>
  <div class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      v-if="item"
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <p class="title text-center font-bold text-gray text-3xl">
        Результаты id - {{ item.id }}
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="$router.push('/sliders')"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col items-center w-full">
            <ckeditorInput
              class="mt-4"
              label-text="Вопрос"
              :text-value="item.question"
              @ckeditorTextChanged="item.question = $event"
            />
            <ckeditorInput
              class="mt-4"
              label-text="Ответ"
              :text-value="item.answer"
              @ckeditorTextChanged="item.answer = $event"
            />
            <fileInput
              label-text="Фото До"
              :set-file-url="item.before"
              @onFileChange="beforeImg = $event"
            />
            <fileInput
              label-text="Фото После"
              :set-file-url="item.after"
              @onFileChange="afterImg = $event"
            />
          </div>
        </div>
        <div class="buttons w-full flex">
          <input
            type="submit"
            class="button shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Сохранить"
            @click="sendItem"
          />
          <div
            class="button shadow-md text-gray border-2 rounded-none py-3 w-1/6 text-center mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            @click="$router.push('/sliders')"
          >
            Отменить
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import fileInput from "@/components/file-input";
import ckeditorInput from "@/components/ckeditor-input";
export default {
  components: { fileInput, ckeditorInput },
  data() {
    return {
      MainServices: new MainServices(),
      beforeImg: null,
      afterImg: null,
    };
  },
  computed: {
    item() {
      return this.MainServices.getItem("api/results", this.$route.params.id);
    },
  },
  created() {
    this.$store.commit("setItem", null);
  },
  methods: {
    sendItem() {
      let formData = new FormData();
      formData.append("question", this.item.question);
      formData.append("answer", this.item.answer);
      if (this.beforeImg) formData.append("before", this.beforeImg);
      if (this.afterImg) formData.append("after", this.afterImg);
      this.MainServices.update(
        formData,
        this.$route.params.id,
        "api/results",
        true
      );
    },
    getCkeditorQuestion(value) {
      this.item.question = value;
    },
    getCkeditorAnswer(value) {
      this.item.answer = value;
    },
  },
};
</script>

<style lang="scss" scoped></style>
