<template>
  <div class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      v-if="item"
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <!--      title-->
      <p class="title text-center font-bold text-gray text-3xl">
        Актуальные темы id - {{ item.id }}
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="$router.push('/actual-themes')"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col items-center w-full">
            <TextInput
              label-text="Заголовок"
              :text-value="item.title"
              @changeText="item.title = $event"
            />
            <fileInput
              label-text="Иконка"
              :set-file-url="item.image"
              @onFileChange="image = $event"
            />
            <TextInput
              label-text="Ссылка"
              :text-value="item.link"
              @changeText="item.link = $event"
            />
          </div>
        </div>
        <div class="mt-6 flex justify-between w-full items-center">
          <span class="text-gray text-2xl font-bold">Список вопросов</span>
          <span class="text-gray text-2xl font-bold">
            <img
              src="../../assets/img/down-arrow.svg"
              class="w-5"
              alt="Открыть"
            />
          </span>
        </div>
        <div class="question-list w-full">
          <div
            v-for="(question, key) in item.questions"
            :key="key"
            class="flex flex-col pb-4"
          >
            <accordionItem :item="question" @editedItemIndex="getEditedIndex" />
          </div>
        </div>
        <createNewQuestion
          label-text="Новые вопросы"
          :questions="newQuestions"
        />
        <div class="buttons w-full flex">
          <input
            type="submit"
            name="password"
            class="button shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Сохранить"
            :disabled="checkFields"
            @click="sendItem"
          />
          <div
            class="button shadow-md text-gray border-2 rounded-none py-3 w-1/6 text-center mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            @click="$router.push('/actual-themes')"
          >
            Отменить
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import fileInput from "@/components/file-input";
import accordionItem from "@/components/accordion-item";
import createNewQuestion from "@/components/create-new-question";
import TextInput from "@/components/text-input";
export default {
  components: { fileInput, accordionItem, createNewQuestion, TextInput },
  data() {
    return {
      MainServices: new MainServices(),
      image: null,
      newQuestions: [],
      // массив редактированных id
      editedQuestions: [],
    };
  },
  computed: {
    item() {
      return this.MainServices.getItem("api/hot_topics", this.$route.params.id);
    },
    checkFields() {
      // проверка пустых полей измененный эелментов
      if (this.editedQuestions.length) {
        for (let i = 0; i < this.editedQuestions.length; i++) {
          for (let j = 0; j < this.item.questions.length; j++) {
            if (
              (this.editedQuestions[i] === this.item.questions[j].id &&
                !this.item.questions[j].question.trim()) ||
              !this.item.questions[j].answer.trim()
            ) {
              return true;
            }
          }
        }
      }
      // проверка пустых полей нвоых вопросов
      if (this.newQuestions.length) {
        for (let i = 0; i < this.newQuestions.length; i++) {
          if (
            !this.newQuestions[i].question.trim() ||
            !this.newQuestions[i].answer.trim()
          )
            return true;
        }
        return false;
      }
      return false;
    },
  },
  created() {
    this.$store.commit("setItem", null);
  },
  methods: {
    sendItem() {
      let formData = new FormData();
      formData.append("title", this.item.title);
      if (this.image) formData.append("image", this.image);
      formData.append("link", this.item.link);
      // добавляю в formData новые вопросы
      if (this.newQuestions.length)
        this.newQuestions.forEach((item, index) => {
          if (item.question.trim() && item.answer.trim()) {
            formData.append(`questions[${index}][question]`, item.question);
            formData.append(`questions[${index}][answer]`, item.answer);
          }
        });
      // добавляю в formData только измененные эелементы
      if (this.editedQuestions.length)
        this.editedQuestions.forEach((itemId) => {
          this.item.questions.forEach((item, index) => {
            if (
              itemId === item.id &&
              item.question.trim() &&
              item.answer.trim()
            ) {
              formData.append(`questions_update[${index}][id]`, item.id);
              formData.append(
                `questions_update[${index}][question]`,
                item.question
              );
              formData.append(
                `questions_update[${index}][answer]`,
                item.answer
              );
            }
          });
        });
      this.MainServices.update(
        formData,
        this.$route.params.id,
        "api/hot_topics",
        true
      );
    },
    // функция берет id элементов ТОЛЬКО которые были отредактированы
    getEditedIndex(value) {
      this.editedQuestions = Array.from(
        new Set(this.editedQuestions.concat(value))
      );
    },
  },
};
</script>
