<template>
  <div class="wrapper w-full flex justify-between">
    <div
      class="content h-screen border-blue py-6 px-8 flex flex-col items-end justify-between w-full"
    >
      <div class="w-full flex flex-col items-center justify-between text-3xl">
        <span>404 Not Found</span>
        <span>По этому адресу ничего нет</span>
      </div>
    </div>
  </div>
</template>
