<template>
  <div class="wrapper w-full flex justify-between">
    <div
      class="content h-screen border-blue py-6 px-8 flex flex-col items-end justify-between w-full"
    >
      <div class="w-full">
        <p
          class="title font-bold text-gray text-3xl flex justify-between items-start w-full"
        >
          <span>Выберите раздел для редактирования</span>
        </p>
      </div>
    </div>
  </div>
</template>
