<template>
  <div
    class="login__wrapper container mx-auto flex justify-center items-center flex-col h-screen"
  >
    <div
      class="flex flex-col content-center items-center border-2 border-blue p-8 lg:p-16"
    >
      <span class="text-gray font-bold text-3xl mb-10">Авторизация</span>
      <form
        action="#"
        class="flex flex-col w-full sm:w-80"
        @submit.prevent="sendForm()"
      >
        <label
          for="username"
          class="block text-lightGray font-bold mt-2 lg:mt-6"
          >Email</label
        >
        <input
          id="username"
          v-model="email"
          type="text"
          name="username"
          required
          class="unselectable shadow-md text-gray rounded-none border border-lightGray mt-2 h-12 text-xl px-2 focus:outline-none focus:border-blue"
          placeholder="Email"
        />
        <label
          for="password"
          class="block text-lightGray font-bold mt-6 unselectable"
          >Пароль</label
        >
        <div class="password flex items-center justify-end">
          <input
            id="password"
            v-model="password"
            :type="show"
            required
            name="password"
            class="shadow-md text-gray rounded-none border border-lightGray mt-2 h-12 w-full text-xl px-2 focus:outline-none focus:border-blue"
            placeholder="Пароль"
          />
          <svg
            id="Capa_1"
            version="1.1"
            class="w-9 mt-1 pr-2 fill-current text-gray cursor-pointer absolute hover:text-black"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 512.001 512.001"
            style="enable-background: new 0 0 512.001 512.001"
            xml:space="preserve"
            @click="showPassword()"
          >
            <g>
              <g>
                <path
                  d="M316.332,195.662c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.16-4.16,10.944,0,15.083
			c12.075,12.075,18.752,28.139,18.752,45.248c0,35.285-28.715,64-64,64c-17.109,0-33.173-6.656-45.248-18.752
			c-4.16-4.16-10.923-4.16-15.083,0c-4.16,4.139-4.16,10.923,0,15.083c16.085,16.128,37.525,25.003,60.331,25.003
			c47.061,0,85.333-38.272,85.333-85.333C341.334,233.187,332.46,211.747,316.332,195.662z"
                />
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M270.87,172.131c-4.843-0.853-9.792-1.472-14.869-1.472c-47.061,0-85.333,38.272-85.333,85.333
			c0,5.077,0.619,10.027,1.493,14.869c0.917,5.163,5.419,8.811,10.475,8.811c0.619,0,1.237-0.043,1.877-0.171
			c5.781-1.024,9.664-6.571,8.64-12.352c-0.661-3.627-1.152-7.317-1.152-11.157c0-35.285,28.715-64,64-64
			c3.84,0,7.531,0.491,11.157,1.131c5.675,1.152,11.328-2.859,12.352-8.64C280.534,178.702,276.652,173.155,270.87,172.131z"
                />
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M509.462,249.102c-2.411-2.859-60.117-70.208-139.712-111.445c-5.163-2.709-11.669-0.661-14.379,4.587
			c-2.709,5.227-0.661,11.669,4.587,14.379c61.312,31.744,110.293,81.28,127.04,99.371c-25.429,27.541-125.504,128-230.997,128
			c-35.797,0-71.872-8.64-107.264-25.707c-5.248-2.581-11.669-0.341-14.229,4.971c-2.581,5.291-0.341,11.669,4.971,14.229
			c38.293,18.496,77.504,27.84,116.523,27.84c131.435,0,248.555-136.619,253.483-142.443
			C512.854,258.915,512.833,253.091,509.462,249.102z"
                />
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M325.996,118.947c-24.277-8.171-47.829-12.288-69.995-12.288c-131.435,0-248.555,136.619-253.483,142.443
			c-3.115,3.669-3.371,9.003-0.597,12.992c1.472,2.112,36.736,52.181,97.856,92.779c1.813,1.216,3.84,1.792,5.888,1.792
			c3.435,0,6.827-1.664,8.875-4.8c3.264-4.885,1.92-11.52-2.987-14.763c-44.885-29.845-75.605-65.877-87.104-80.533
			c24.555-26.667,125.291-128.576,231.552-128.576c19.861,0,41.131,3.755,63.189,11.157c5.589,2.005,11.648-1.088,13.504-6.699
			C334.572,126.862,331.585,120.825,325.996,118.947z"
                />
              </g>
            </g>
            <g>
              <g>
                <path
                  d="M444.865,67.128c-4.16-4.16-10.923-4.16-15.083,0L67.116,429.795c-4.16,4.16-4.16,10.923,0,15.083
			c2.091,2.069,4.821,3.115,7.552,3.115c2.731,0,5.461-1.045,7.531-3.115L444.865,82.211
			C449.025,78.051,449.025,71.288,444.865,67.128z"
                />
              </g>
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <p v-if="error" class="text-red font-semibold mt-4 text-sm">
          Неверное имя пользователя или пароль
        </p>
        <input
          type="submit"
          name="password"
          class="shadow-md text-white rounded-none mt-24 h-12 w-full text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
          value="Войти"
        />
      </form>
    </div>
  </div>
</template>

<script>
import authServices from "@/services/AuthServices";
export default {
  data() {
    return {
      show: "password",
      authServices: null,
      email: "",
      password: "",
    };
  },
  computed: {
    error() {
      return this.$store.getters["getError"];
    },
  },
  created() {
    this.authServices = new authServices();
  },
  methods: {
    showPassword() {
      this.show === "password"
        ? (this.show = "text")
        : (this.show = "password");
    },

    sendForm() {
      this.authServices.sendAuth({
        email: this.email,
        password: this.password,
      });
    },
  },
};
</script>

<style scoped>
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
