<template>
  <div class="wrapper flex flex-col w-full z-0">
    <label class="block text-lightGray text-xl font-bold"
      >{{ labelText
      }}<sup v-if="isRequiredField" class="text-red">*</sup></label
    >
    <ckeditor
      v-model="editorText"
      :editor="editor"
      :config="editorConfig"
      @input="sendText"
    />
  </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
export default {
  props: {
    labelText: {
      required: true,
      type: String,
    },
    isRequiredField: Boolean,
    textValue: String,
  },
  data() {
    return {
      editor: ClassicEditor,
      editorConfig: {
        enterMode: false,
        toolbar: [
          "heading",
          "bold",
          "italic",
          "link",
          "undo",
          "redo",
          "numberedList",
          "bulletedList",
        ],
      },
      ckeditorText: "",
    };
  },
  computed: {
    editorText: {
      get() {
        return this.textValue;
      },
      set(value) {
        this.ckeditorText = value;
      },
    },
  },
  methods: {
    sendText() {
      this.$emit("ckeditorTextChanged", this.ckeditorText);
    },
  },
};
</script>
