<template>
  <transition name="fade">
    <div v-if="isOpen" class="popup">
      <div class="blocker" @click="close"></div>
      <div class="popup-wrapper">
        <div class="popup-content">
          <p class="title">Точно ли вы хотите удалить?</p>
          <div class="buttons">
            <button
              type="button"
              class="shadow-md text-white px-2 bg-blue cursor-pointer hover:bg-lightBlue"
              @click="deleteItem"
            >
              Подтвердить
            </button>
            <button
              type="button"
              class="shadow-md text-gray border-2 ml-5 px-2 bg-white cursor-pointer hover:bg-preWhite"
              @click="close"
            >
              Отмена
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import MainServices from "@/services/MainServices";

export default {
  data() {
    return {
      MainServices: new MainServices(),
      id: null,
      deleteUrl: null,
      isOpen: false,
    };
  },
  mounted() {
    document.addEventListener("keydown", this.handleKeydown);
  },
  methods: {
    open(id, url) {
      this.id = id;
      this.deleteUrl = url;
      this.isOpen = true;
    },
    close() {
      this.isOpen = false;
    },
    deleteItem() {
      this.MainServices.delete(this.id, this.deleteUrl);
      this.isOpen = false;
    },
    handleKeydown(e) {
      if (this.isOpen && e.key === "Escape") {
        this.close();
      }
    },
  },
  beforeUnmount() {
    document.removeEventListener("keydown", this.handleKeydown);
  },
};
</script>

<style lang="scss" scoped>
button {
  margin: 1vw;
  border: none;
  outline: none;
}

.blocker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

//popup
.popup {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.popup-wrapper {
  z-index: 9998;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4vw 4vw;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 2vw;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    font-size: 1.2vw;
    padding: 0.5vw 1vw;
    width: 10vw;

    &:active {
      opacity: 90%;
    }
  }
}

@media (max-width: 1000px) {
  .popup-wrapper {
    padding: 3.4vw 6vw;
  }
  .title {
    font-size: 2.1vw;
    margin-bottom: 2.5vw;
  }
  .buttons {
    button {
      font-size: 2.1vw;
      padding: 1vw 1vw;
      width: 15vw;
    }
  }
}

// popup animation
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
