<template>
  <div class="flex flex-col w-full">
    <label for="image" class="block text-lightGray text-xl font-bold mt-6"
      >{{ labelText
      }}<sup v-if="isRequiredField" class="text-red">*</sup></label
    >
    <div v-if="type !== 'file'" class="justify-between flex-column">
      <img
        v-if="setFileUrl"
        :src="$store.getters.getApiUrl + setFileUrl"
        class="set-img py-2"
      />
      <div v-if="url" class="flex-column">
        <label
          for="image-preview"
          class="block text-lightGray text-xl font-bold"
          >Выбранный файл</label
        >
        <img id="image-preview" :src="url" class="image-preview" />
      </div>
    </div>
    <a
      v-if="setFileUrl && type === 'file'"
      :href="$store.getters.getApiUrl + setFileUrl"
    >
      <div
        class="button shadow-md mb-2 text-gray border-2 rounded-none py-1 w-1/3 text-center text-xl px-1 bg-white cursor-pointer hover:bg-preWhite"
      >
        Скачать файл
      </div>
    </a>
    <input
      id="image"
      ref="file"
      type="file"
      hidden="hidden"
      :accept="accept"
      class="input-image text-gray rounded-none text-2xl py-4 focus:outline-none focus:border-blue"
      @change="onFileChange"
    />
    <div class="custom-input">
      <div
        id="custom-button"
        class="button shadow-md text-gray border-2 rounded-none py-1 w-1/3 text-center text-xl px-1 bg-white cursor-pointer hover:bg-preWhite"
        @click="$refs.file.click()"
      >
        Выбрать файл
      </div>
      <span id="custom-text" class="ml-2 text-xl" @click="$refs.file.click()">{{
        text
      }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    labelText: String,
    setFileUrl: String,
    type: String,
    isRequiredField: Boolean,
  },
  data() {
    return {
      url: null,
      accept: "",
      text: "Файл не выбран",
    };
  },
  created() {
    if (this.type === "file") {
      this.accept =
        "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, .docx";
    } else {
      this.accept = "image/*";
    }
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0];
      if (file) {
        this.$emit("onFileChange", file);
        this.url = URL.createObjectURL(file);
        this.text = e.target.value.match(/[/\\]([\w\d\s.\-()9]+)$/)[1];
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.image-preview {
  margin: 1vw 0;
  width: 15vw;
  object-fit: contain;
}
.set-img {
  width: 12vw;
  object-fit: contain;
}

.button {
  width: 20vw;
}

.custom-input {
  display: flex;
  align-items: center;
}

@media (max-width: 868px) {
  .image-preview {
    width: 25vw;
  }
  .set-img {
    width: 22vw;
  }

  .button {
    width: auto;
  }
}
</style>
