<template>
  <tr class="border-b">
    <td>1</td>
    <td>Карточка 1</td>
    <td>Counter и текст</td>
    <td>
      <div class="list flex items-end flex-col py-1">
        <div
          class="buttons flex text-white w-20 h-10 flex justify-between items-center"
        >
          <router-link to="/castomPola" class="focus:outline-none">
            <svg
              enable-background="new 0 0 24 24"
              class="w-7 text-gray fill-current text-gray cursor-pointer hover:text-black"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m17 24h-14c-1.654 0-3-1.346-3-3v-14c0-1.654 1.346-3 3-3h8c.553 0 1 .448 1 1s-.447 1-1 1h-8c-.552 0-1 .449-1 1v14c0 .551.448 1 1 1h14c.552 0 1-.449 1-1v-8c0-.552.447-1 1-1s1 .448 1 1v8c0 1.654-1.346 3-3 3z"
                fill="#607d8b"
              />
              <path
                d="m17.288 3.177-7.912 7.912c-.07.07-.117.159-.137.255l-.707 3.536c-.033.164.018.334.137.452.095.095.223.146.354.146l.098-.01 3.535-.707c.098-.019.186-.067.256-.137l7.912-7.912z"
                fill="#42a5f5"
              />
              <path
                d="m23.268.732c-.975-.975-2.561-.975-3.535 0l-1.384 1.384 3.535 3.535 1.384-1.384c.472-.471.732-1.099.732-1.767s-.26-1.296-.732-1.768z"
                fill="#42a5f5"
              />
              <path
                d="m19 12c-.553 0-1 .448-1 1v8c0 .551-.448 1-1 1h-14c-.276 0-.526-.112-.707-.293l-1.413 1.413c.543.544 1.293.88 2.12.88h14c1.654 0 3-1.346 3-3v-8c0-.553-.447-1-1-1z"
                fill="#546d79"
              />
              <g fill="#3990d5">
                <path
                  d="m19.056 4.944-10.387 10.387c.095.095.223.146.354.146l.098-.01 3.535-.707c.098-.019.186-.067.256-.137l7.912-7.912z"
                />
                <path
                  d="m23.268.732-3.151 3.151 1.768 1.768 1.384-1.384c.471-.471.731-1.099.731-1.767s-.26-1.296-.732-1.768z"
                />
              </g>
            </svg>
          </router-link>
          <button class="focus:outline-none">
            <svg
              class="w-7 text-gray fill-current text-gray cursor-pointer hover:text-red"
              viewBox="-40 0 427 427.00131"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m232.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
              />
              <path
                d="m114.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
              />
              <path
                d="m28.398438 127.121094v246.378906c0 14.5625 5.339843 28.238281 14.667968 38.050781 9.285156 9.839844 22.207032 15.425781 35.730469 15.449219h189.203125c13.527344-.023438 26.449219-5.609375 35.730469-15.449219 9.328125-9.8125 14.667969-23.488281 14.667969-38.050781v-246.378906c18.542968-4.921875 30.558593-22.835938 28.078124-41.863282-2.484374-19.023437-18.691406-33.253906-37.878906-33.257812h-51.199218v-12.5c.058593-10.511719-4.097657-20.605469-11.539063-28.03125-7.441406-7.421875-17.550781-11.5546875-28.0625-11.46875h-88.796875c-10.511719-.0859375-20.621094 4.046875-28.0625 11.46875-7.441406 7.425781-11.597656 17.519531-11.539062 28.03125v12.5h-51.199219c-19.1875.003906-35.394531 14.234375-37.878907 33.257812-2.480468 19.027344 9.535157 36.941407 28.078126 41.863282zm239.601562 279.878906h-189.203125c-17.097656 0-30.398437-14.6875-30.398437-33.5v-245.5h250v245.5c0 18.8125-13.300782 33.5-30.398438 33.5zm-158.601562-367.5c-.066407-5.207031 1.980468-10.21875 5.675781-13.894531 3.691406-3.675781 8.714843-5.695313 13.925781-5.605469h88.796875c5.210937-.089844 10.234375 1.929688 13.925781 5.605469 3.695313 3.671875 5.742188 8.6875 5.675782 13.894531v12.5h-128zm-71.199219 32.5h270.398437c9.941406 0 18 8.058594 18 18s-8.058594 18-18 18h-270.398437c-9.941407 0-18-8.058594-18-18s8.058593-18 18-18zm0 0"
              />
              <path
                d="m173.398438 154.703125c-5.523438 0-10 4.476563-10 10v189c0 5.519531 4.476562 10 10 10 5.523437 0 10-4.480469 10-10v-189c0-5.523437-4.476563-10-10-10zm0 0"
              />
            </svg>
          </button>
        </div>
      </div>
    </td>
  </tr>
</template>

<script>
export default {
  name: "Item",
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style scoped></style>
