<template>
  <transition v-if="notification.show" name="slide-fade">
    <div v-if="notification.status" class="notification">
      <div class="notification-wrapper">
        <p class="text">{{ notification.text }}</p>
      </div>
    </div>
    <div v-if="!notification.status" class="notification error">
      <div class="notification-wrapper">
        <p class="text">{{ notification.text }}</p>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  computed: {
    notification() {
      return this.$store.getters.getNotification;
    },
  },
};
</script>

<style lang="scss" scoped>
.notification {
  width: 25vw;
  position: fixed;
  background-color: #2bc289;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 1vw;
  .text {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
  }
}

.error {
  background: #ff2222;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(-10px);
  opacity: 0;
}
</style>
