<template>
  <li class="border-b w-full px-8 py-4 hover:text-black">
    <router-link
      :to="path"
      class="router-link flex items-center hover:text-black"
      @click.native="closeSidebar"
    >
      <slot>Отправить</slot>
      {{ title }}
    </router-link>
  </li>
</template>

<script>
export default {
  props: {
    title: String,
    path: String,
  },
  methods: {
    closeSidebar() {
      this.$store.commit("setSidebar");
    },
  },
};
</script>

<style lang="scss" scoped>
.router-link-active,
.router-link-exact-active {
  color: #2f2f2f !important;
}
</style>
