<template>
  <div class="flex flex-col w-full">
    <label for="sort" class="block text-lightGray text-xl font-bold mt-6"
      >{{ labelText
      }}<sup v-if="isRequiredField" class="text-red">*</sup></label
    >
    <input
      id="sort"
      v-model="editorText"
      type="text"
      class="shadow-md text-gray rounded-none border border-lightGray text-2xl px-2 py-1 focus:outline-none focus:border-blue"
      :required="isRequiredField"
      placeholder="Текст"
    />
  </div>
</template>

<script>
export default {
  props: {
    labelText: {
      required: true,
      type: String,
    },
    isRequiredField: Boolean,
    textValue: String,
  },
  computed: {
    editorText: {
      get() {
        return this.textValue;
      },
      set(value) {
        this.$emit("changeText", value);
      },
    },
  },
};
</script>
