<template>
  <div class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <!--      title-->
      <p class="title text-center font-bold text-gray text-3xl">
        Создать новый элемент
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="createItem"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col items-center w-full">
            <TextInput
              label-text="Заголовок"
              :is-required-field="true"
              :text-value="title"
              @changeText="title = $event"
            />
            <NumberInput
              label-text="Счетчик"
              :is-required-field="true"
              :num-value="counter"
              @changeText="counter = $event"
            />
          </div>
        </div>
        <div class="buttons w-full flex">
          <input
            type="submit"
            name="password"
            class="shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Создать"
            :disabled="checkFields"
          />
          <div
            class="button shadow-md text-gray border-2 rounded-none py-3 w-1/6 text-center mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            @click="$router.push('/statistics')"
          >
            Отменить
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import TextInput from "@/components/text-input";
import NumberInput from "@/components/number-input";
export default {
  components: { TextInput, NumberInput },
  data() {
    return {
      MainServices: new MainServices(),
      title: "",
      counter: "",
    };
  },
  computed: {
    checkFields() {
      if (!this.title.trim() || !this.counter.trim()) return true;
      return false;
    },
  },
  methods: {
    createItem() {
      if (this.title.trim() && this.counter.trim()) {
        this.MainServices.create(
          {
            title: this.title,
            counter: this.counter,
          },
          "api/statistics"
        );
        this.$router.push("/statistics");
      }
    },
  },
};
</script>
