<template>
  <div class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <p class="title text-center font-bold text-gray text-3xl">
        Добавить новый слайд
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="createItem"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col items-center w-full">
            <ckeditorInput
              class="mt-4"
              label-text="Вопрос"
              :text-value="question"
              :is-required-field="true"
              @ckeditorTextChanged="question = $event"
            />
            <ckeditorInput
              class="mt-4"
              label-text="Ответ"
              :text-value="answer"
              :is-required-field="true"
              @ckeditorTextChanged="answer = $event"
            />
            <fileInput
              label-text="Фото До"
              :is-required-field="true"
              @onFileChange="before = $event"
            />
            <fileInput
              label-text="Фото После"
              :is-required-field="true"
              @onFileChange="after = $event"
            />
          </div>
        </div>
        <div class="buttons w-full flex">
          <input
            type="submit"
            class="button shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Создать"
            :disabled="checkFields"
          />
          <div
            class="button shadow-md text-gray border-2 rounded-none py-3 w-1/6 text-center mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            @click="$router.push('/sliders')"
          >
            Отменить
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import fileInput from "@/components/file-input";
import ckeditorInput from "@/components/ckeditor-input";

export default {
  components: { fileInput, ckeditorInput },
  data() {
    return {
      MainServices: new MainServices(),
      question: "",
      answer: "",
      before: null,
      after: null,
    };
  },
  computed: {
    checkFields() {
      if (
        !this.question.trim() ||
        !this.answer.trim() ||
        !this.before ||
        !this.after
      )
        return true;
      return false;
    },
  },
  methods: {
    createItem() {
      if (this.answer && this.question && this.before && this.after) {
        let formData = new FormData();
        formData.append("question", this.question);
        formData.append("answer", this.answer);
        formData.append("before", this.before);
        formData.append("after", this.after);
        this.MainServices.create(formData, "api/results");
        this.$router.push("/sliders");
      } else alert("Заполните все поля");
    },
  },
};
</script>

<style lang="scss" scoped></style>
