<template>
  <div class="wrapper w-full flex justify-between">
    <!--    content-->
    <div
      class="content h-screen border-blue py-6 px-8 flex flex-col items-start w-full"
    >
      <!--      title-->
      <p class="title text-center font-bold text-gray text-3xl">
        Создать новый элемент
      </p>
      <form
        action="#"
        class="flex flex-col justify-between items-start w-full"
        @submit.prevent="createItem"
      >
        <div class="form-header w-full flex flex-col items-start w-full">
          <div class="flex justify-between flex-col w-full">
            <TextInput
              label-text="Заголовок"
              :is-required-field="true"
              :text-value="title"
              @changeText="title = $event"
            />
            <fileInput
              label-text="Иконка"
              :is-required-field="true"
              @onFileChange="image = $event"
            />
            <TextInput
              label-text="Ссылка"
              :is-required-field="true"
              :text-value="link"
              @changeText="link = $event"
            />
            <createNewQuestion label-text="Вопросы" :questions="questions" />
          </div>
        </div>
        <div class="buttons w-full flex">
          <input
            type="submit"
            class="button shadow-md text-white rounded-none py-3 w-1/6 mt-20 text-2xl px-2 bg-blue cursor-pointer hover:bg-lightBlue"
            value="Создать"
            :disabled="checkFields"
          />
          <div
            class="button shadow-md text-gray border-2 rounded-none py-3 w-1/6 text-center mt-20 ml-5 text-2xl px-2 bg-white cursor-pointer hover:bg-preWhite"
            @click="$router.push('/actual-themes')"
          >
            Отменить
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import fileInput from "@/components/file-input";
import createNewQuestion from "@/components/create-new-question";
import TextInput from "@/components/text-input";
export default {
  components: { fileInput, createNewQuestion, TextInput },
  data() {
    return {
      MainServices: new MainServices(),
      title: "",
      image: null,
      link: "",
      questions: [],
    };
  },
  computed: {
    checkFields() {
      if (this.title.trim() && this.image && this.link.trim()) {
        for (let i = 0; i < this.questions.length; i++) {
          if (
            !this.questions[i].question.trim() ||
            !this.questions[i].answer.trim()
          )
            return true;
        }
        return false;
      }
      return true;
    },
  },
  methods: {
    createItem() {
      if (this.image) {
        let formData = new FormData();
        formData.append("title", this.title);
        formData.append("image", this.image);
        formData.append("link", this.link);
        if (this.questions.length)
          this.questions.forEach((item, index) => {
            if (item.question.trim() && item.answer.trim()) {
              formData.append(`questions[${index}][question]`, item.question);
              formData.append(`questions[${index}][answer]`, item.answer);
            }
          });
        this.MainServices.create(formData, "api/hot_topics");
        this.$router.push("/actual-themes");
      } else alert("Файл не выбран");
    },
  },
};
</script>
