<template>
  <div id="app">
    <notification />
    <transition name="fade">
      <preloader v-if="preloaderStatus" />
    </transition>
    <component :is="layout" />
    <router-view />
  </div>
</template>

<script>
import preloader from "@/components/preloader";
import notification from "@/components/notification";
export default {
  components: {
    preloader,
    notification,
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "sidebar-layout";
    },
    preloaderStatus() {
      return this.$store.getters["getPreloaderStatus"];
    },
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import "./assets/scss/style";
</style>
