<template>
  <div class="sidebar-wrapper z-10">
    <div
      v-if="$route.path !== '/'"
      class="show-btn"
      :class="{ open: !showSidebar }"
      @click="changeSidebarStatus"
    >
      <svg
        viewBox="0 0 18 18"
        fill="none"
        class="mr-4 fill-current text-lightGray"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.016 3.98206C4.74999 3.98206 4.49487 4.08773 4.30677 4.27583C4.11867 4.46393 4.013 4.71904 4.013 4.98506C4.013 5.25107 4.11867 5.50618 4.30677 5.69428C4.49487 5.88238 4.74999 5.98806 5.016 5.98806H12.966C13.232 5.98806 13.4871 5.88238 13.6752 5.69428C13.8633 5.50618 13.969 5.25107 13.969 4.98506C13.969 4.71904 13.8633 4.46393 13.6752 4.27583C13.4871 4.08773 13.232 3.98206 12.966 3.98206H5.016Z"
        />
        <path
          d="M4.01601 8.99995C4.01601 8.44795 4.46301 7.99695 5.01601 7.99695H12.966C13.232 7.99695 13.4871 8.10262 13.6752 8.29072C13.8633 8.47882 13.969 8.73394 13.969 8.99995C13.969 9.26596 13.8633 9.52108 13.6752 9.70918C13.4871 9.89728 13.232 10.0029 12.966 10.0029H5.01601C4.46301 10.0029 4.01601 9.55295 4.01601 8.99995Z"
        />
        <path
          d="M5.025 12.012C4.75885 12.012 4.50361 12.1177 4.31542 12.3059C4.12723 12.4941 4.0215 12.7493 4.0215 13.0155C4.0215 13.2816 4.12723 13.5369 4.31542 13.725C4.50361 13.9132 4.75885 14.019 5.025 14.019H12.975C13.2411 14.019 13.4964 13.9132 13.6846 13.725C13.8728 13.5369 13.9785 13.2816 13.9785 13.0155C13.9785 12.7493 13.8728 12.4941 13.6846 12.3059C13.4964 12.1177 13.2411 12.012 12.975 12.012H5.025Z"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0H15C15.7956 0 16.5587 0.316071 17.1213 0.87868C17.6839 1.44129 18 2.20435 18 3V15C18 15.7956 17.6839 16.5587 17.1213 17.1213C16.5587 17.6839 15.7956 18 15 18H3C2.20435 18 1.44129 17.6839 0.87868 17.1213C0.316071 16.5587 0 15.7956 0 15V3ZM3 2H15C15.2652 2 15.5196 2.10536 15.7071 2.29289C15.8946 2.48043 16 2.73478 16 3V15C16 15.2652 15.8946 15.5196 15.7071 15.7071C15.5196 15.8946 15.2652 16 15 16H3C2.73478 16 2.48043 15.8946 2.29289 15.7071C2.10536 15.5196 2 15.2652 2 15V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2Z"
        />
      </svg>
    </div>
    <div
      v-if="isAuth"
      class="sidebar border h-screen flex justify-start flex-col fixed"
      :class="{ 'show-sidebar': !showSidebar }"
    >
      <div
        class="sidebar-header bg-blue text-white h-48 px-8 py-6 flex flex-col justify-between"
      >
        <router-link
          to="/admin-panel"
          class="header-text text-center font-bold text-2xl"
        >
          Панель <br />
          администратора
        </router-link>
        <div class="sidebar-content flex justify-between items-center">
          <p href="#" class="font-bold text-20px 2xl:hover">{{ name }}</p>
          <p
            class="font-bold text-20px flex justify-center items-center cursor-pointer"
            @click="logout"
          >
            Выйти
            <img
              src="../assets/img/sidebar-icons/logout.svg"
              alt="logout"
              class="ml-2"
            />
          </p>
        </div>
      </div>
      <ul
        class="list text-lightGray text-2xl flex flex-col justify-start items-start"
      >
        <sidebarItem title="Пункты меню" :path="'/menus'">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            class="mr-4 fill-current text-lightGray"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.016 3.98206C4.74999 3.98206 4.49487 4.08773 4.30677 4.27583C4.11867 4.46393 4.013 4.71904 4.013 4.98506C4.013 5.25107 4.11867 5.50618 4.30677 5.69428C4.49487 5.88238 4.74999 5.98806 5.016 5.98806H12.966C13.232 5.98806 13.4871 5.88238 13.6752 5.69428C13.8633 5.50618 13.969 5.25107 13.969 4.98506C13.969 4.71904 13.8633 4.46393 13.6752 4.27583C13.4871 4.08773 13.232 3.98206 12.966 3.98206H5.016Z"
            />
            <path
              d="M4.01601 8.99995C4.01601 8.44795 4.46301 7.99695 5.01601 7.99695H12.966C13.232 7.99695 13.4871 8.10262 13.6752 8.29072C13.8633 8.47882 13.969 8.73394 13.969 8.99995C13.969 9.26596 13.8633 9.52108 13.6752 9.70918C13.4871 9.89728 13.232 10.0029 12.966 10.0029H5.01601C4.46301 10.0029 4.01601 9.55295 4.01601 8.99995Z"
            />
            <path
              d="M5.025 12.012C4.75885 12.012 4.50361 12.1177 4.31542 12.3059C4.12723 12.4941 4.0215 12.7493 4.0215 13.0155C4.0215 13.2816 4.12723 13.5369 4.31542 13.725C4.50361 13.9132 4.75885 14.019 5.025 14.019H12.975C13.2411 14.019 13.4964 13.9132 13.6846 13.725C13.8728 13.5369 13.9785 13.2816 13.9785 13.0155C13.9785 12.7493 13.8728 12.4941 13.6846 12.3059C13.4964 12.1177 13.2411 12.012 12.975 12.012H5.025Z"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0H15C15.7956 0 16.5587 0.316071 17.1213 0.87868C17.6839 1.44129 18 2.20435 18 3V15C18 15.7956 17.6839 16.5587 17.1213 17.1213C16.5587 17.6839 15.7956 18 15 18H3C2.20435 18 1.44129 17.6839 0.87868 17.1213C0.316071 16.5587 0 15.7956 0 15V3ZM3 2H15C15.2652 2 15.5196 2.10536 15.7071 2.29289C15.8946 2.48043 16 2.73478 16 3V15C16 15.2652 15.8946 15.5196 15.7071 15.7071C15.5196 15.8946 15.2652 16 15 16H3C2.73478 16 2.48043 15.8946 2.29289 15.7071C2.10536 15.5196 2 15.2652 2 15V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2Z"
            />
          </svg>
        </sidebarItem>
        <sidebarItem title="Актуальные темы" :path="'/actual-themes'">
          <svg
            id="Capa_1"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            class="mr-4 fill-current text-lightGray"
            viewBox="0 0 32.75 32.75"
            style="enable-background: new 0 0 32.75 32.75"
            xml:space="preserve"
          >
            <path
              d="M29.375,1.25h-1.123c0.029-0.093,0.059-0.186,0.059-0.289c0-0.53-0.432-0.961-0.963-0.961s-0.961,0.431-0.961,0.961
			c0,0.103,0.028,0.196,0.059,0.289h-3.68c0.029-0.093,0.059-0.186,0.059-0.289C22.823,0.431,22.393,0,21.861,0
			C21.331,0,20.9,0.431,20.9,0.961c0,0.103,0.029,0.196,0.059,0.289h-3.681c0.029-0.093,0.058-0.186,0.058-0.289
			c0-0.53-0.43-0.961-0.961-0.961s-0.961,0.431-0.961,0.961c0,0.103,0.028,0.196,0.058,0.289h-3.681
			c0.029-0.093,0.059-0.186,0.059-0.289C11.85,0.431,11.419,0,10.889,0c-0.531,0-0.962,0.431-0.962,0.961
			c0,0.103,0.028,0.196,0.058,0.289h-3.68c0.03-0.093,0.059-0.186,0.059-0.289C6.364,0.43,5.934,0,5.403,0
			C4.872,0,4.441,0.431,4.441,0.961c0,0.103,0.028,0.196,0.058,0.289H3.375c-1.518,0-2.75,1.233-2.75,2.75v26
			c0,1.518,1.232,2.75,2.75,2.75H26.27l5.855-5.855V4C32.125,2.484,30.893,1.25,29.375,1.25z M30.625,26.273l-0.311,0.311h-2.006
			V8.943c0-1.576-1.289-2.864-2.863-2.864H7.306c-1.576,0-2.864,1.289-2.864,2.864v18.14c0,1.576,1.289,2.864,2.864,2.864h18.139
			c0.176,0,0.347-0.021,0.514-0.053v1.045l-0.311,0.311H3.375c-0.689,0-1.25-0.561-1.25-1.25V5h28.5V26.273z M9.954,9.734V8.257
			h1.049v5.053H9.804l-1.08-1.95c-0.299-0.538-0.63-1.19-0.876-1.782L7.825,9.585c0.031,0.666,0.046,1.378,0.046,2.203v1.521h-1.05
			V8.256h1.335l1.049,1.852c0.299,0.531,0.6,1.163,0.825,1.732h0.022C9.977,11.173,9.954,10.492,9.954,9.734z M6.828,15.149h19.094
			v11.457c0,0.525-0.431,0.955-0.955,0.955H7.783c-0.526,0-0.955-0.43-0.955-0.955V15.149z M15.002,10.244v0.929h-1.86v1.198h2.077
			v0.938h-3.223V8.256h3.119v0.937h-1.973v1.05L15.002,10.244L15.002,10.244z M15.67,8.257h1.223l0.382,2.083
			c0.113,0.601,0.217,1.253,0.299,1.764h0.015c0.083-0.549,0.203-1.155,0.33-1.778l0.427-2.069h1.215l0.405,2.129
			c0.112,0.594,0.194,1.133,0.269,1.694h0.016c0.076-0.561,0.188-1.153,0.292-1.753l0.412-2.069h1.162l-1.304,5.053h-1.235
			l-0.427-2.174c-0.098-0.509-0.182-0.981-0.24-1.557h-0.016c-0.088,0.569-0.172,1.048-0.291,1.557l-0.479,2.174h-1.253L15.67,8.257
			z M23.891,13.384c-0.576,0-1.146-0.15-1.433-0.307l0.233-0.945c0.308,0.16,0.779,0.314,1.266,0.314
			c0.523,0,0.802-0.216,0.802-0.545c0-0.314-0.239-0.496-0.847-0.713c-0.839-0.292-1.387-0.756-1.387-1.49
			c0-0.864,0.72-1.523,1.912-1.523c0.569,0,0.988,0.122,1.289,0.256l-0.254,0.92c-0.203-0.096-0.562-0.238-1.059-0.238
			c-0.494,0-0.732,0.225-0.732,0.487c0,0.323,0.283,0.463,0.937,0.712c0.891,0.328,1.312,0.792,1.312,1.507
			C25.928,12.664,25.277,13.384,23.891,13.384z"
            />
            <path
              d="M8.145,17.275h7.213c0.262,0,0.477-0.18,0.477-0.397c0-0.219-0.215-0.398-0.477-0.398H8.145
			c-0.263,0-0.477,0.179-0.477,0.398C7.667,17.096,7.882,17.275,8.145,17.275z"
            />
            <path
              d="M8.145,19.066h7.213c0.262,0,0.477-0.18,0.477-0.397c0-0.219-0.215-0.397-0.477-0.397H8.145
			c-0.263,0-0.477,0.179-0.477,0.397C7.667,18.887,7.882,19.066,8.145,19.066z"
            />
            <path
              d="M8.145,20.857h7.213c0.262,0,0.477-0.18,0.477-0.397c0-0.219-0.215-0.397-0.477-0.397H8.145
			c-0.263,0-0.477,0.179-0.477,0.397C7.667,20.678,7.882,20.857,8.145,20.857z"
            />
            <path
              d="M8.145,22.648h7.213c0.262,0,0.477-0.18,0.477-0.397c0-0.219-0.215-0.397-0.477-0.397H8.145
			c-0.263,0-0.477,0.179-0.477,0.397C7.667,22.469,7.882,22.648,8.145,22.648z"
            />
            <path
              d="M8.145,24.439h7.213c0.262,0,0.477-0.18,0.477-0.397c0-0.219-0.215-0.397-0.477-0.397H8.145
			c-0.263,0-0.477,0.179-0.477,0.397C7.667,24.26,7.882,24.439,8.145,24.439z"
            />
            <path
              d="M8.145,26.23h7.213c0.262,0,0.477-0.18,0.477-0.397c0-0.219-0.215-0.397-0.477-0.397H8.145
			c-0.263,0-0.477,0.179-0.477,0.397C7.667,26.051,7.882,26.23,8.145,26.23z"
            />
            <path
              d="M17.394,17.275h7.211c0.264,0,0.478-0.18,0.478-0.397c0-0.219-0.214-0.398-0.478-0.398h-7.211
			c-0.263,0-0.478,0.179-0.478,0.398C16.916,17.096,17.131,17.275,17.394,17.275z"
            />
            <path
              d="M17.394,19.066h7.211c0.264,0,0.478-0.18,0.478-0.397c0-0.219-0.214-0.397-0.478-0.397h-7.211
			c-0.263,0-0.478,0.179-0.478,0.397C16.916,18.887,17.131,19.066,17.394,19.066z"
            />
            <path
              d="M17.394,20.857h7.211c0.264,0,0.478-0.18,0.478-0.397c0-0.219-0.214-0.397-0.478-0.397h-7.211
			c-0.263,0-0.478,0.179-0.478,0.397C16.916,20.678,17.131,20.857,17.394,20.857z"
            />
            <path
              d="M17.394,22.648h7.211c0.264,0,0.478-0.18,0.478-0.397c0-0.219-0.214-0.397-0.478-0.397h-7.211
			c-0.263,0-0.478,0.179-0.478,0.397C16.916,22.469,17.131,22.648,17.394,22.648z"
            />
            <path
              d="M17.394,24.439h7.211c0.264,0,0.478-0.18,0.478-0.397c0-0.219-0.214-0.397-0.478-0.397h-7.211
			c-0.263,0-0.478,0.179-0.478,0.397C16.916,24.26,17.131,24.439,17.394,24.439z"
            />
            <path
              d="M17.394,26.23h7.211c0.264,0,0.478-0.18,0.478-0.397c0-0.219-0.214-0.397-0.478-0.397h-7.211
			c-0.263,0-0.478,0.179-0.478,0.397C16.916,26.051,17.131,26.23,17.394,26.23z"
            />
          </svg>
        </sidebarItem>
        <sidebarItem title="Слайдеры" :path="'/sliders'">
          <svg
            class="mr-4 fill-current text-lightGray"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m512 186v40h-150v-40zm-191-126v299.148438c0 21.367187-8.320312 41.457031-23.429688 56.566406l-95.429687 95.429687-97.140625-95.21875c-15.253906-14.949219-24-35.773437-24-57.128906v-132.796875h-81v-40h81v-126c0-33.085938 26.914062-60 60-60h120c33.085938 0 60 26.914062 60 60zm-40 0c0-11.027344-8.972656-20-20-20h-120c-11.027344 0-20 8.972656-20 20v298.796875c0 10.675781 4.375 21.089844 12 28.5625l68.859375 67.496094 67.425781-67.425781c7.554688-7.554688 11.714844-17.597657 11.714844-28.28125zm0 0"
            />
          </svg>
        </sidebarItem>
        <sidebarItem title="Статистика" :path="'/statistics'">
          <svg
            id="Layer_1"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            class="mr-4 fill-current text-lightGray"
            viewBox="0 0 512 512"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
          >
            <path
              d="M488.399,492h-21.933V173.536c0-14.823-12.06-26.882-26.882-26.882H390.56c-14.823,0-26.882,12.06-26.882,26.882V492
			h-55.692V317.825c0-14.823-12.059-26.882-26.882-26.882H232.08c-14.823,0-26.882,12.06-26.882,26.882V492h-55.692v-90.204
			c0-14.823-12.06-26.882-26.882-26.882H73.599c-14.823,0-26.882,12.06-26.882,26.882V492H23.601c-5.523,0-10,4.477-10,10
			s4.477,10,10,10h464.798c5.523,0,10-4.477,10-10S493.922,492,488.399,492z M129.504,492H66.716v-90.204
			c0-3.795,3.087-6.882,6.882-6.882h49.024c3.795,0,6.882,3.087,6.882,6.882V492z M287.985,492h-62.788V317.825
			c0-3.795,3.087-6.882,6.882-6.882h49.024c3.794,0,6.882,3.087,6.882,6.882V492z M446.466,492h-62.788V173.536
			c0-3.795,3.087-6.882,6.882-6.882h49.024c3.795,0,6.882,3.087,6.882,6.882V492z"
            />
            <path
              d="M466.442,10.516c0.14-2.729-0.82-5.504-2.904-7.588c-2.084-2.084-4.859-3.045-7.588-2.904
			C455.789,0.017,455.63,0,455.466,0h-60.5c-5.523,0-10,4.477-10,10s4.477,10,10,10h37.357l-98.857,98.858l-37.28-37.28
			c-1.875-1.875-4.419-2.929-7.071-2.929c-2.652,0-5.196,1.054-7.071,2.929l-179.769,179.77c-3.905,3.905-3.905,10.237,0,14.143
			c1.953,1.951,4.512,2.927,7.071,2.927s5.119-0.976,7.071-2.929L289.115,102.79l37.28,37.28c3.905,3.905,10.237,3.905,14.143,0
			L446.466,34.143v33.81c0,5.523,4.477,10,10,10s10-4.477,10-10V11C466.466,10.837,466.449,10.678,466.442,10.516z"
            />
            <circle cx="75.64" cy="303.31" r="10" />
          </svg>
        </sidebarItem>
        <sidebarItem title="Фрагменты" :path="'/fragments'">
          <svg
            id="Layer_1"
            viewBox="0 0 64 64"
            class="mr-4 fill-current text-lightGray"
            xmlns="http://www.w3.org/2000/svg"
            data-name="Layer 1"
          >
            <path
              d="m53.148 26.632a4.515 4.515 0 0 0 -6.385-6.386l-5.8 5.8a2.175 2.175 0 0 1 -3.005 0 2.126 2.126 0 0 1 0-3l1.381-1.382a4.5 4.5 0 0 0 .949-4.982 4.931 4.931 0 0 0 1.712.318 5 5 0 1 0 -5-5 4.931 4.931 0 0 0 .527 2.189 4.5 4.5 0 0 0 -4.575 1.085l-3.591 3.591a1.344 1.344 0 1 1 -1.9-1.9l5.659-5.659a4.622 4.622 0 0 0 .308-6.352 4.475 4.475 0 0 0 -3.241-1.5 4.557 4.557 0 0 0 -3.31 1.32l-10.577 10.58c-.987.986-2.018 1.939-3.111 2.948-3.166 2.927-6.44 5.953-8.481 9.767a23.03 23.03 0 0 0 -2.582 13.278 22.412 22.412 0 0 0 8.488 15.367 24.66 24.66 0 0 0 15.268 5.248 24.981 24.981 0 0 0 3.192-.205 20.553 20.553 0 0 0 13.732-7.3l.132-.169c2.716-3.44 7.261-9.2 2.922-13.709a4.634 4.634 0 0 1 -.134-6.526zm-11.148-17.632a3 3 0 1 1 -3 3 3 3 0 0 1 3-3zm2.419 32.968c2.888 3 .077 7.122-3.05 11.083l-.134.17a18.566 18.566 0 0 1 -12.417 6.551 22.728 22.728 0 0 1 -16.963-4.626 20.43 20.43 0 0 1 -7.739-14 21.034 21.034 0 0 1 2.357-12.133c1.881-3.518 5.031-6.428 8.075-9.242 1.058-.978 2.153-1.99 3.167-3l10.575-10.578a2.492 2.492 0 0 1 1.777-.737h.068a2.493 2.493 0 0 1 1.806.835 2.656 2.656 0 0 1 -.235 3.6l-5.659 5.659a3.343 3.343 0 0 0 4.728 4.728l3.591-3.591a2.516 2.516 0 1 1 3.558 3.558l-1.381 1.382a4.125 4.125 0 0 0 5.833 5.833l5.8-5.8a2.516 2.516 0 0 1 3.557 3.558l-7.422 7.423a6.618 6.618 0 0 0 .108 9.327z"
            />
            <path
              d="m60 16a4 4 0 1 0 -4 4 4 4 0 0 0 4-4zm-6 0a2 2 0 1 1 2 2 2 2 0 0 1 -2-2z"
            />
            <path
              d="m57 6a3 3 0 1 0 -3 3 3 3 0 0 0 3-3zm-4 0a1 1 0 1 1 1 1 1 1 0 0 1 -1-1z"
            />
            <path
              d="m61 35a5 5 0 1 0 -5 5 5.006 5.006 0 0 0 5-5zm-5 3a3 3 0 1 1 3-3 3 3 0 0 1 -3 3z"
            />
            <path
              d="m59 22a3 3 0 1 0 3 3 3 3 0 0 0 -3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"
            />
            <path d="m36 5a1 1 0 0 0 0-2h-1a1 1 0 0 0 0 2z" />
            <path d="m45 5a1 1 0 0 0 0-2h-1a1 1 0 0 0 0 2z" />
            <path d="m59 8h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2z" />
            <path d="m22 5a1 1 0 0 0 0-2h-1a1 1 0 0 0 0 2z" />
            <path d="m55 45a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2z" />
            <path d="m61 42h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2z" />
            <path
              d="m24 45a6 6 0 1 0 -6 6 6.006 6.006 0 0 0 6-6zm-6 4a4 4 0 1 1 4-4 4 4 0 0 1 -4 4z"
            />
            <path
              d="m27 46a3 3 0 1 0 3 3 3 3 0 0 0 -3-3zm0 4a1 1 0 1 1 1-1 1 1 0 0 1 -1 1z"
            />
            <path
              d="m23 38a3 3 0 1 0 3-3 3 3 0 0 0 -3 3zm3-1a1 1 0 1 1 -1 1 1 1 0 0 1 1-1z"
            />
            <path
              d="m17 29a3 3 0 1 0 -3-3 3 3 0 0 0 3 3zm0-4a1 1 0 1 1 -1 1 1 1 0 0 1 1-1z"
            />
            <path d="m23 31h1a1 1 0 0 0 0-2h-1a1 1 0 0 0 0 2z" />
            <path d="m13 35a1 1 0 0 0 0-2h-1a1 1 0 0 0 0 2z" />
            <path d="m37 41h-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2z" />
            <path d="m37 53h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2z" />
            <path d="m22 55h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2z" />
          </svg>
        </sidebarItem>
        <sidebarItem
          title="Информационные ресурсы"
          :path="'/informational-resources'"
        >
          <svg
            id="_x33_0"
            enable-background="new 0 0 64 64"
            viewBox="0 0 64 64"
            class="mr-4 fill-current text-lightGray"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="m5 5h2v2h-2z" />
            <path d="m9 5h2v2h-2z" />
            <path d="m5 21h6v-8h-6zm2-6h2v4h-2z" />
            <path d="m13 13h12v2h-12z" />
            <path d="m13 17h12v2h-12z" />
            <path d="m5 23h2v2h-2z" />
            <path d="m9 23h2v2h-2z" />
            <path d="m13 21h12v2h-12z" />
            <path d="m13 5h2v2h-2z" />
            <path
              d="m61 5h-24c-1.103 0-2 .897-2 2v10h-6v-14c0-1.103-.897-2-2-2h-24c-1.103 0-2 .897-2 2v24c0 1.103.897 2 2 2h24c1.103 0 2-.897 2-2v-8h6v12c0 1.103.897 2 2 2h14v14.101c-1.956.399-3.5 1.943-3.899 3.899h-4.101v-14c0-1.103-.897-2-2-2h-22.026c-1.669-1.25-3.733-2-5.974-2-5.514 0-10 4.486-10 10v11.412c-1.239 1.27-2 2.998-2 4.885v3.703h35c3.859 0 7-3.14 7-7v-3h4.101c.465 2.279 2.484 4 4.899 4 2.757 0 5-2.243 5-5 0-2.414-1.721-4.434-4-4.899v-14.101h8c1.103 0 2-.897 2-2v-24c0-1.103-.897-2-2-2zm-34-2v6h-24v-6zm-24 24v-16h24l.001 16zm38 14h-18.202c-.302-1.48-.94-2.835-1.818-4h20.02zm-28.076.49.076-.076.076.076c.905.906 2.025 1.598 3.24 2.002.41.137.684.518.684.949v2.559c0 1.654-1.346 3-3 3h-2c-1.654 0-3-1.346-3-3v-2.559c0-.431.275-.813.685-.949 1.214-.405 2.335-1.097 3.239-2.002zm-1.697 10.432c.253.04.508.078.773.078h2c.265 0 .52-.038.774-.078.352.772.942 1.405 1.67 1.822l-1.254 2.256h-4.38l-1.254-2.257c.728-.416 1.319-1.049 1.671-1.821zm2.851 6.078-1.078 1.941-1.078-1.941zm4.338-3.69.204.026c2.497.311 4.38 2.444 4.38 4.961v1.703h-8.3zm-5.416-19.31c4.411 0 8 3.589 8 8.001l.012 9.985c-.662-.317-1.38-.54-2.142-.635l-.705-.088c-.648-.081-1.199-.487-1.502-1.046 1.399-.888 2.337-2.441 2.337-4.217v-2.559c0-1.293-.824-2.437-2.051-2.846h-.001c-.921-.307-1.771-.832-2.458-1.519l-.49-.49v-2.586h-2v2.586l-.49.49c-.687.687-1.536 1.212-2.459 1.519-1.227.41-2.051 1.553-2.051 2.846v2.559c0 1.776.938 3.329 2.338 4.216-.303.56-.855.965-1.503 1.046l-.703.088c-.759.096-1.473.317-2.132.631v-9.981c0-4.411 3.589-8 8-8zm-10 24.297c0-2.517 1.883-4.649 4.381-4.961l.203-.025 3.716 6.689h-8.3zm33 1.703h-11v-1.703c0-1.88-.756-3.603-1.987-4.871l-.013-11.426h18v13c0 2.757-2.243 5-5 5zm19-9c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm6-45v6h-24v-6zm-24 24v-16h24l.001 16z"
            />
            <path d="m39 9h2v2h-2z" />
            <path d="m43 9h2v2h-2z" />
            <path d="m39 25h6v-8h-6zm2-6h2v4h-2z" />
            <path d="m47 17h12v2h-12z" />
            <path d="m47 21h12v2h-12z" />
            <path d="m39 27h2v2h-2z" />
            <path d="m43 27h2v2h-2z" />
            <path d="m47 25h12v2h-12z" />
            <path d="m47 9h2v2h-2z" />
            <path d="m25 45h4v2h-4z" />
            <path d="m31 45h8v2h-8z" />
            <path d="m25 49h14v2h-14z" />
            <path d="m25 53h6v2h-6z" />
            <path d="m33 53h6v2h-6z" />
            <path d="m27 57h2v2h-2z" />
            <path d="m31 57h2v2h-2z" />
          </svg>
        </sidebarItem>
        <sidebarItem title="Баннеры" :path="'/banners'">
          <svg
            id="Capa_1"
            enable-background="new 0 0 512 512"
            viewBox="0 0 512 512"
            class="mr-4 fill-current text-lightGray"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m105 61c-24.813 0-45 20.187-45 45v60c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h30v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-60c0-24.813-20.187-45-45-45zm-15 60v-15c0-8.271 6.729-15 15-15s15 6.729 15 15v15z"
            />
            <path
              d="m210 61h-15c-8.284 0-15 6.716-15 15v90c0 8.284 6.716 15 15 15h15c33.084 0 60-26.916 60-60s-26.916-60-60-60zm0 90v-60c16.542 0 30 13.458 30 30s-13.458 30-30 30z"
            />
            <path
              d="m497 241c8.284 0 15-6.716 15-15v-210c0-8.284-6.716-15-15-15h-482c-8.284 0-15 6.716-15 15v210c0 8.284 6.716 15 15 15h250.908l7.699 30h-48.607c-8.284 0-15 6.716-15 15v210c0 8.284 6.716 15 15 15h272c8.284 0 15-6.716 15-15v-210c0-8.284-6.716-15-15-15h-57.835l-61.341-30zm-467-30v-180h452v180h-165.516l-37.439-18.311c-11.471-5.61-24.294 4.829-21.12 17.203l.284 1.107h-228.209zm452 270h-242v-180h41.306l22.375 87.188c2.74 10.676 15.709 14.85 24.162 7.77l21.344-17.881 22.736 27.255c5.306 6.361 14.79 7.228 21.161 1.882l51.726-43.404c6.333-5.314 7.172-14.751 1.876-21.099l-22.776-27.304 17.196-14.407h40.894zm-90.717-157.87 22.784 27.313-28.745 24.12-22.729-27.246c-5.324-6.382-14.808-7.205-21.151-1.89l-14.621 12.249-31.759-123.757 113.272 55.398-15.167 12.706c-6.339 5.312-7.183 14.755-1.884 21.107z"
            />
            <path
              d="m165 271h-150c-8.284 0-15 6.716-15 15v210c0 8.284 6.716 15 15 15h150c8.284 0 15-6.716 15-15v-210c0-8.284-6.716-15-15-15zm-15 210h-120v-180h120z"
            />
            <path
              d="m315 106h120c8.284 0 15-6.716 15-15s-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15s6.716 15 15 15z"
            />
            <path
              d="m315 166h120c8.284 0 15-6.716 15-15s-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15s6.716 15 15 15z"
            />
          </svg>
        </sidebarItem>
        <li class="list-subtitle border-b w-full px-2 py-7 text-black">
          Вложенные страницы
        </li>
        <sidebarItem title="Вакансии" :path="'/vacancies'">
          <svg
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            class="mr-4 fill-current text-lightGray"
            data-name="Layer 1"
            viewBox="0 0 512 512"
          >
            <title>Search</title>
            <path
              d="M387.576,114.546a193.061,193.061,0,0,0-273.03,273.029A193.044,193.044,0,0,0,381.8,393.109l58.548,58.548a8,8,0,0,0,11.314-11.314L393.109,381.8a193.045,193.045,0,0,0-5.533-267.249ZM74,251.061A177.061,177.061,0,1,1,377.442,375.052a7.919,7.919,0,0,0-2.39,2.39q-3.122,3.066-6.367,5.957v-4.514a41.933,41.933,0,0,0-1.042-9.634q-.2-.841-.425-1.674a44.3,44.3,0,0,0-29.369-30.266L289.93,321.774v-19.8a73.728,73.728,0,0,0,33.565-48.7l2.565-8.821a25.04,25.04,0,0,0,15.5-29.384,20.342,20.342,0,0,0-11.834-14.01V169.976a78.652,78.652,0,1,0-157.3,0v31.07a20.342,20.342,0,0,0-11.863,14.025,25.039,25.039,0,0,0,15.5,29.383l2.564,8.821a73.732,73.732,0,0,0,33.566,48.7v19.8l-47.92,15.537a44.3,44.3,0,0,0-29.367,30.263q-.23.834-.427,1.678a41.962,41.962,0,0,0-1.041,9.633V383.4q-3.872-3.45-7.577-7.137A175.906,175.906,0,0,1,74,251.061ZM275.93,322.58a60.668,60.668,0,0,1-49.738,0V308.746a73.662,73.662,0,0,0,49.738,0ZM174.159,218.4A6.337,6.337,0,0,1,178,213.925a16.6,16.6,0,0,0,22.89-14.6l.875-19.21c4.057,0,9.662-.125,16.286-.573,42.571,36,102.377,34.137,104.947,34.037.022,0,.043,0,.065-.006a6.444,6.444,0,0,1,4.9,4.829,11.026,11.026,0,0,1-8.778,13.476,7,7,0,0,0-5.668,5.576l-3.557,12.234a6.755,6.755,0,0,0-.157.661,59.77,59.77,0,0,1-117.482,0,6.759,6.759,0,0,0-.158-.661l-3.556-12.234a7,7,0,0,0-5.668-5.576,10.982,10.982,0,0,1-9.094-10.842A11.094,11.094,0,0,1,174.159,218.4Zm82.427-44.658c5.978,6.093,20.415,18.387,44.189,24.531-16.894-2.1-40.957-7.455-62.181-20.98Q248.043,175.853,256.586,173.742Zm59.141,13.224c-21.232-2.868-35.481-11.478-43.473-17.892a110.539,110.539,0,0,0,30.393-16,7,7,0,0,0-8.52-11.11c-35.076,26.9-98.06,24.062-98.688,24.033a7,7,0,0,0-7.351,6.672L186.9,198.686a2.529,2.529,0,0,1-.479,1.41v-30.12a64.652,64.652,0,1,1,129.3,0Zm-168.29,207.7V378.885a28.152,28.152,0,0,1,.675-6.45q.133-.577.292-1.151a30.349,30.349,0,0,1,20.186-20.656l49.928-16.187a74.676,74.676,0,0,0,65.086,0l49.927,16.187a30.349,30.349,0,0,1,20.187,20.656q.157.572.292,1.15a28.167,28.167,0,0,1,.675,6.451v15.781a177.206,177.206,0,0,1-207.248,0Z"
            />
          </svg>
        </sidebarItem>
        <sidebarItem title="Компании" :path="'/hot-companies'">
          <svg
            id="Capa_1"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="mr-4 fill-current text-lightGray"
            x="0px"
            y="0px"
            viewBox="0 0 480 480"
            style="enable-background: new 0 0 480 480"
            xml:space="preserve"
          >
            <rect x="168" y="160" width="16" height="16" />
            <rect x="168" y="192" width="16" height="16" />
            <rect x="168" y="224" width="16" height="16" />
            <rect x="168" y="256" width="16" height="16" />
            <rect x="200" y="160" width="16" height="16" />
            <rect x="200" y="192" width="16" height="16" />
            <rect x="200" y="224" width="16" height="16" />
            <rect x="200" y="256" width="16" height="16" />
            <rect x="232" y="160" width="16" height="16" />
            <rect x="232" y="192" width="16" height="16" />
            <rect x="232" y="224" width="16" height="16" />
            <rect x="232" y="256" width="16" height="16" />
            <rect x="264" y="160" width="16" height="16" />
            <rect x="200" y="128" width="16" height="16" />
            <rect x="232" y="128" width="16" height="16" />
            <rect x="264" y="128" width="16" height="16" />
            <rect x="264" y="192" width="16" height="16" />
            <rect x="264" y="224" width="16" height="16" />
            <rect x="264" y="256" width="16" height="16" />
            <rect x="296" y="160" width="16" height="16" />
            <rect x="296" y="192" width="16" height="16" />
            <rect x="296" y="224" width="16" height="16" />
            <rect x="296" y="256" width="16" height="16" />
            <path
              d="M472.009,120c-0.003,0-0.006,0-0.009,0H352V8c0.003-4.416-3.575-7.997-7.991-8c-0.003,0-0.006,0-0.009,0H136
			c-4.416-0.003-7.997,3.575-8,7.991c0,0.003,0,0.006,0,0.009v112H8c-4.416-0.003-7.997,3.575-8,7.991c0,0.003,0,0.006,0,0.009v288
			c-0.003,4.416,3.575,7.997,7.991,8c0.003,0,0.006,0,0.009,0h16.723c-0.464,2.642-0.706,5.318-0.723,8v40
			c-0.003,4.416,3.575,7.997,7.991,8c0.003,0,0.006,0,0.009,0h416c4.416,0.003,7.997-3.575,8-7.991c0-0.003,0-0.006,0-0.009v-40
			c-0.016-2.682-0.258-5.358-0.723-8H472c4.416,0.003,7.997-3.575,8-7.991c0-0.003,0-0.006,0-0.009V128
			C480.003,123.584,476.425,120.003,472.009,120z M344,344c0,8.837-7.163,16-16,16s-16-7.163-16-16s7.163-16,16-16
			C336.832,328.011,343.989,335.168,344,344z M152,328c8.837,0,16,7.163,16,16s-7.163,16-16,16s-16-7.163-16-16
			C136.011,335.168,143.168,328.011,152,328z M104,464H40v-32c0-17.673,14.327-32,32-32s32,14.327,32,32V464z M56,368
			c0-8.837,7.163-16,16-16s16,7.163,16,16s-7.163,16-16,16C63.168,383.989,56.011,376.832,56,368z M105.212,397.425
			c-3.017-2.91-6.4-5.414-10.064-7.449c12.202-12.784,11.731-33.04-1.053-45.243s-33.04-11.731-45.243,1.053
			c-11.803,12.365-11.803,31.824,0,44.189c-7.636,4.238-13.98,10.467-18.358,18.024H16V136h112v187.056
			c-10.986,12.327-10.615,31.039,0.852,42.92C116.852,372.613,108.253,384.053,105.212,397.425z M184,464h-64v-56
			c0-17.673,14.327-32,32-32s32,14.327,32,32V464z M280,464h-80v-56c0-22.091,17.909-40,40-40c22.091,0,40,17.909,40,40V464z
			 M216,328c0-13.255,10.745-24,24-24s24,10.745,24,24s-10.745,24-24,24C226.751,351.986,216.014,341.249,216,328z M288.722,380.495
			c-5.357-9.444-13.327-17.139-22.953-22.16c16.897-14.232,19.057-39.467,4.826-56.364c-14.232-16.897-39.467-19.057-56.364-4.826
			c-16.897,14.232-19.057,39.467-4.826,56.364c1.468,1.743,3.082,3.357,4.826,4.826c-9.626,5.021-17.596,12.716-22.953,22.16
			c-4.206-6-9.722-10.965-16.13-14.519c12.265-12.547,12.037-32.662-0.511-44.927c-8.079-7.898-19.744-10.91-30.637-7.913V16h192
			v297.136c-2.607-0.719-5.296-1.101-8-1.136c-17.626-0.047-31.953,14.204-32,31.831c-0.022,8.248,3.151,16.185,8.852,22.145
			C298.444,369.53,292.928,374.495,288.722,380.495z M360,432v32h-64v-56c0-17.673,14.327-32,32-32c17.673,0,32,14.327,32,32V432z
			 M440,464h-64v-32c0-17.673,14.327-32,32-32c17.673,0,32,14.327,32,32V464z M392,368c0-8.837,7.163-16,16-16s16,7.163,16,16
			s-7.163,16-16,16C399.168,383.989,392.011,376.832,392,368z M464,408h-14.494c-4.378-7.557-10.722-13.786-18.358-18.024
			c12.202-12.784,11.731-33.04-1.053-45.243c-12.784-12.202-33.04-11.731-45.243,1.053c-11.803,12.365-11.803,31.824,0,44.189
			c-3.664,2.035-7.048,4.539-10.064,7.449c-3.04-13.372-11.64-24.812-23.64-31.449c11.467-11.881,11.839-30.593,0.853-42.92V136h112
			V408z"
            />
            <rect x="376" y="184" width="16" height="128" />
            <rect x="424" y="184" width="16" height="128" />
            <rect x="40" y="184" width="16" height="128" />
            <rect x="88" y="184" width="16" height="128" />
            <path
              d="M288.009,32c-0.003,0-0.006,0-0.009,0h-96c-4.416-0.003-7.997,3.575-8,7.991c0,0.003,0,0.006,0,0.009v64
			c-0.003,4.416,3.575,7.997,7.991,8c0.003,0,0.006,0,0.009,0h96c4.416,0.003,7.997-3.575,8-7.991c0-0.003,0-0.006,0-0.009V40
			C296.003,35.584,292.425,32.003,288.009,32z M280,96h-80V48h80V96z"
            />
          </svg>
        </sidebarItem>
        <sidebarItem title="Документы" :path="'/hot-docs'">
          <svg
            id="Capa_1"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="mr-4 fill-current text-lightGray"
            x="0px"
            y="0px"
            viewBox="0 0 480 480"
            style="enable-background: new 0 0 480 480"
            xml:space="preserve"
          >
            <path
              d="M160,344h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,344,160,344z"
            />
            <path
              d="M384,344H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,344,384,344z"
            />
            <path
              d="M160,296h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,296,160,296z"
            />
            <path
              d="M384,296H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,296,384,296z"
            />
            <path
              d="M160,248h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,248,160,248z"
            />
            <path
              d="M384,248H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,248,384,248z"
            />
            <path
              d="M160,200h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,200,160,200z"
            />
            <path
              d="M384,200H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,200,384,200z"
            />
            <path
              d="M160,152h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,152,160,152z"
            />
            <path
              d="M384,152H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,152,384,152z"
            />
            <path
              d="M439.896,119.496c-0.04-0.701-0.177-1.393-0.408-2.056c-0.088-0.256-0.152-0.504-0.264-0.752
			c-0.389-0.87-0.931-1.664-1.6-2.344l-112-112c-0.68-0.669-1.474-1.211-2.344-1.6c-0.248-0.112-0.496-0.176-0.744-0.264
			c-0.669-0.23-1.366-0.37-2.072-0.416C320.328,0.088,320.176,0,320,0H96c-4.418,0-8,3.582-8,8v24H48c-4.418,0-8,3.582-8,8v432
			c0,4.418,3.582,8,8,8h336c4.418,0,8-3.582,8-8v-40h40c4.418,0,8-3.582,8-8V120C440,119.824,439.912,119.672,439.896,119.496z
			 M328,27.312L412.688,112H328V27.312z M376,464H56V48h32v376c0,4.418,3.582,8,8,8h280V464z M424,416H104V16h208v104
			c0,4.418,3.582,8,8,8h104V416z"
            />
            <path
              d="M192,72h-48c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h48c4.418,0,8-3.582,8-8V80C200,75.582,196.418,72,192,72z
			 M184,120h-32V88h32V120z"
            />
          </svg>
        </sidebarItem>
      </ul>
    </div>
  </div>
</template>

<script>
import AuthServices from "@/services/AuthServices";
import sidebarItem from "@/components/sidebar-item";

export default {
  name: "Sidebar",
  components: { sidebarItem },
  data() {
    return {
      AuthServices: new AuthServices(),
      // showSidebar: true,
      isAuth: true,
    };
  },
  computed: {
    name() {
      return this.$store.getters["getName"];
    },
    showSidebar() {
      return this.$store.getters.getSidebar;
    },
  },
  mounted() {
    let name = localStorage.getItem("username");
    this.$store.commit("setName", name);
  },
  methods: {
    logout() {
      this.AuthServices.logout();
    },
    changeSidebarStatus() {
      this.$store.commit("setSidebar");
    },
  },
};
</script>

<style lang="scss" scoped>
.sidebar .header-text {
  font-size: 1.5vw;
}

.sidebar {
  width: 25%;
}

ul {
  // scroll style
  overflow: auto !important;

  &::-webkit-scrollbar {
    width: 4px !important;
    background-color: #ffffff !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #5988ff;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff !important;
  }

  .router-link {
    svg {
      width: 18px;
      min-width: 18px;
    }
  }

  li:hover {
    svg {
      fill: #2f2f2f;
    }
  }

  .router-link-active,
  .router-link-exact-active {
    svg {
      fill: #2f2f2f !important;
    }
  }
}
.list-subtitle {
  font-size: 1.7vw;
}

.sidebar-content a {
  font-size: 1vw;
}

.show-btn {
  display: none;
}

@media (max-width: 1400px) {
  li {
    padding-left: 2vw !important;
  }
  .sidebar {
    width: 27%;
  }
  .sidebar .title {
    font-size: 2.2vw;
  }
  .sidebar-content a {
    font-size: 1.5vw;
  }
  .list a {
    font-size: 2.2vw;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    width: 33vw;
  }
  .sidebar .title {
    font-size: 3.1vw;
  }
  .sidebar-content a {
    font-size: 1.9vw;
  }
  .sidebar .header-text {
    font-size: 2vw;
  }
  .sidebar-content p {
    font-size: 2vw;
  }
}

@media (max-width: 868px) {
  .sidebar {
    transition: 0.2s linear;
    display: none;
  }
  .show-sidebar {
    transition: 0.2s linear;
    display: flex !important;
    background-color: white;
    width: 100vw;
  }
  .show-btn {
    padding: 0 1vw;
    display: flex;
    justify-content: end;
    width: 10vw;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 28px;
    left: 0;
    font-size: 6vw;
    z-index: 99999999;

    &.open {
      svg {
        path {
          fill: #ffffff;
        }
      }
    }

    svg {
      path {
        fill: #5988ff;
      }
    }
  }
  .sidebar .header-text {
    font-size: 3.5vw;
  }
  .list-subtitle {
    font-size: 3.7vw;
  }
  .sidebar-content p {
    font-size: 3vw;
  }
}
</style>
